<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>

    <h1>biography</h1>
    <img class ="image" src="/images/fassbender-jobs.jpg" alt="">
    <p>Michael Fassbender (born 2 April 1977) is a German-born
         Irish actor.</p>
    <div id="link">
        <a href="/gallery">Go to the gallery</a>
        <a href="/">Back to Home</a>
    </div> 
</body>
</html>