<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>
<body>  
    <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>PHOTO GALLERY</h1>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="/images/alien.jpg" alt="" width="100%">
                <p>Alien</p>
            </div>
            <div class="col-sm-4">
                <img src="/images/assassin.jpg" alt="" width="100%">
                <p>Assassin</p>
            </div>
            <div class="col-sm-4">
                <img src="/images/baqueros.jpg" alt="" width="100%">
                <p>baqueros</p>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/images/prometeus.jpg" alt="" width="100%">
                    <p>Prometheus</p>       
                </div>
                <div class="col-sm-4">
                    <img src="/images/300.jpg" alt="" width="100%">
                    <p>Steve Jobs</p>
                </div>
                <div class="col-sm-4">
                    <img src="/images/steve-jobs.jpeg" alt="" width="100%">
                    <p>Hunger</p>
                </div>
            </div>
        </div>

     <dir id="link">
        <a href="/about">Go to the gallery</a> <br>
        <a href="/">Back to Home</a>
    </dir>
</body>
</html>