<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div class="ranking">
            <h1>Ranking</h1>
            <div class="img-ranking">
                <h2>  1#</h2>
                <img class ="images" src="/images/pulp-fiction.jpg" alt="" height="100%">

            </div> 
            <div class="img-ranking">
                <h2>2#</h2>
                <img class ="images" src="/images/schindler-list.jpg" alt="">

            </div>
            <div class="img-ranking">
                <h2>3#</h2>
                <img class ="images" src="/images/alien.jpg" alt="">

            </div>
            <div class="img-ranking">
                <h2>4#</h2>
                <img class ="images" src="/images/forrest-gump.jpg" alt="">

            </div>
            <div class="img-ranking">
                <h2>5#</h2>
                <img class ="images" src="/images/truman-show.jpg" alt="">

            </div>
            <div class="img-ranking">
                <h2>6#</h2>
                <img class ="images" src="/images/judgment-at-nuremberg.jpg" alt="">

            </div>
            <a href="/">Back to Home</a>
            <a href="/gallery">Go to Gallery</a>
        </div>   
    </div>  
</body>
</html>